<div class="bar bar-grey1 bar-subheader item-input-inset item-input-search">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" id="search" placeholder="{{'mobile.global.search.placeholder' | translate}}" autocorrect="off" autocapitalize="off" ng-focus="searchIsFocused = true; searchFocusChanged(searchIsFocused)">
        <button data-tap-disabled="true"
                class="icon ion-close-circled button-close-search button-clear ng-hide show-if-search"
                ng-click="emptySearch(); focusSearch();"></button>
    </label>
    <button data-tap-disabled="true" class="button button-clear button-grey3 button-main ng-hide cancel-search"
            ng-click="emptySearch(); blurSearch(); broadcastCancel()" translate="mobile.global.search.cancel">
    </button>
</div>
